html{
    height: 100vh;
}

body{
    background: url('img/paper_fibers.png');
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.outer-wrap {
    height: 100vh;
}

.inner-wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/*================= Header ======================*/


.header{
    margin: 10px;
    flex: 0;
    background-color: #002560;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid rgba(0, 0, 0,.3);

}

.menu{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.title{
    width: 100%;
    text-align: left;

}


.menu-btn{
    display: none;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    line-height: 0.8em;

}


.nav{
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

.nav:hover{
    font-size: 0.8em;
}

/*================= Footer ======================*/


.footer{
    margin: 10px;
    flex: 0;
    background-color: #002560;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0,.4);
}


.info-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.info{
    font-size: 0.9em;
    color: white;
    text-decoration: none;
}


/*================= Media Queries ======================*/


@media only screen and (max-width: 640px){


    .header{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 0;
    }

    .menu{
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0,.3) ;
    }

    .title{
        width: 90%;
        margin: 0;
    }


    .menu-btn{
        display: block;
    }

    .nav-bar{
        display: none;
        width: 100%;
        margin: 0;
        font-size: 1em;
        justify-content: space-between;
        flex-direction: column;
        border-bottom: 2px solid rgba(0, 0, 0,.5);
    }

    .nav{
        text-align: center;
        width: 100%;
    }

    .active{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-wrap{
        width: 100%;
    }

    .footer{
        justify-content: center;
    }


}


@media only screen and (max-height: 185px) and (max-width: 320px) {
    .outer-wrap {
        display: none;
    }

    body{
        background: none;
    }

    body::after{
        justify-content: center;
        align-items: center;
        content: 'Sorry, your device is not supported';
    }

}